<div class='users-stats-title'>
  <h1>{{stats.user_title}}</h1>
</div>

{{stats-arrows total=stats.user_total}}

<div class='users-stats-time'>
  <p>{{stats.time}}</p>
</div>

{{#if chart}}
  {{stats-users-chart data=stats.user_data}}
{{/if}}
