<div class='topics-stats-title'>
  <h1>{{stats.topic_title}}</h1>
</div>

{{stats-arrows total=stats.topic_total}}

<div class='topics-stats-time'>
  <p>{{stats.time}}</p>
</div>

<div class="forD3-topics"></div>
