<div class='posts-stats-title'>
  <h1>{{stats.post_title}}</h1>
</div>

{{stats-arrows total=stats.post_total}}

<ul class="topics">
  {{#each stats.top_topics as |topic|}}
  <li>
    <h1>{{topic.title}}</h1>
    <p>{{topic.posts_count}}</p>
  </li>
  {{/each}}
</ul>
