<div class='visits-stats-title'>
  <h1>{{stats.visit_title}}</h1>
</div>

{{stats-arrows total=stats.visit_total}}

<div class='visits-stats-time'>
  <p>{{stats.time}}</p>
</div>

{{#if chart}}
  {{stats-visits-chart data=stats.visit_data}}
{{/if}}
