@import "common/foundation/variables";
@import "common/foundation/mixins";
@import "common/foundation/helpers";

$down : red;
$minus: yellow;
$up: green;

.fa-minus {
  color: $minus;
}

.fa-arrow-down {
  color: $down;
}

.fa-arrow-up {
color: $up;
}

.axis {
  font: 10px sans-serif;
}
.axis path,
.x.axis line {
  display:none
}
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 8px;
}
