@import "common/foundation/variables";
@import "common/foundation/mixins";
@import "common/foundation/helpers";

$down : red;
$minus: yellow;
$up: green;

.fa-minus {
  color: $minus;
}

.fa-arrow-down {
  color: $down;
}

.fa-arrow-up {
color: $up;
}
