<div class='admin-controls'>
  <div class='span15'>
    <ul class="nav nav-pills">
      <li>
        {{#link-to "admin.stats" "today"}}Today{{/link-to}}
      </li>
      <li>
        {{#link-to "admin.stats" "week"}}Week{{/link-to}}
      </li>
      <li>
        {{#link-to "admin.stats" "month"}}Month{{/link-to}}
      </li>
    </ul>
  </div>
</div>

<div class="stats-container">
{{stats-visits stats=model class="stats-each"}}
{{stats-users stats=model class="stats-each"}}
{{stats-topics stats=model class="stats-each"}}
{{stats-posts stats=model class="stats-each"}}
</div>
